{% extends '../content.html' %}

{% block header %}
    Call Graph - Get Users in Tenant
{% endblock %}

{% block text %}
    {% if results and 'value' in results  %}
        There are a total of <strong>{{ results.num_results }}</strong> users in your tenant. Showing
        <strong>displayName</strong> and <strong>ID</strong> for up to 5 of them below.
        <br>
        <br>
        {% for result in results.value %}
            {% if 'displayName' in result %}
                <strong>{{ loop.index }}.</strong> {{ result.displayName }}
            {% endif %}
            {% if 'id' in result %}
                <span style="float:right">{{ result.id }}</span>
            {% endif %}
            <br><br>
        {% endfor %}
    {% endif %}
    <br>
    Click here to see your <a class="btn btn-info p-1" href="{% url 'index' %}">Sign-in Status</a>
    or <a class="btn btn-info p-1" href="{% url 'token_details' %}">ID Token Details</a>
{% endblock %}