<ul class="nav navbar-nav navbar-right">
    {% if request.identity_context_data.authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'status' %}">Hello {{ request.identity_context_data.username }}!</a>
        </li>
        <li>
            <a class="btn btn-warning" href="{% url 'sign_out' %}">Sign Out</a>
        </li>
    {% else %}
        <li>
            <a class="btn btn-success" href="{% url 'sign_in' %}">Sign In</a>
        </li>
    {% endif %}
</ul>
