
# This is a placeholder file for the environment variables you'll need to
# configure for your application.
#
# - Make a copy and name it something appropriate.
#   - e.g. .azure-env
# - Fill in the values.
# - Load the values into your environment before interacting with Azure:
#
#    $ # Export values from file into environment:
#    $ export $(grep -v '^#' .azure-env | xargs)
#    $ # Now interact with (e.g.) the production PosgreSQL instance:
#    $ ./manage.py showmigrations
#    ...

# Use this to manage.py on the app service and use prod database:
DJANGO_SETTINGS_MODULE='Sample.azure'
# OR this to manage.py and use local database (must uncomment it):
#DJANGO_SETTINGS_MODULE='Sample.settings'

#This tells Azure App service to run this shell file after deployment
# By default, it contains a migrate command
POST_BUILD_COMMAND='deployment/post-build.sh'

# The Azure App name, Resource Group, and Location to use for you application.
# - If using the VS Code App Service extension to create your app,
#   use the values it provides
APP_SERVICE_APP_NAME=''
AZ_RESOURCE_GROUP=''
AZ_LOCATION=''

# Server Name, Admin User and Admin Password for creating the Azure, and the application DB name you want to use.
# PostgreSQL server.
POSTGRES_SERVER_NAME=''
POSTGRES_ADMIN_USER=''
POSTGRES_ADMIN_PASSWORD=''
APP_DB_NAME=''

# The Azure PostgreSQL server host.
# This will not be available until after creating the database server.
# (Will be output at end if running `createdb.py`)
# copy and paste the the "fully qualified domain name" here.
POSTGRES_HOST=''


